<div class="container">
  <h2>Update Employee</h2>
  <form (ngSubmit)="updateEmployee()">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        [(ngModel)]="employeeData.first_name"
      />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        [(ngModel)]="employeeData.last_name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="employeeData.email"
      />
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input
        type="text"
        class="form-control"
        id="salary"
        name="salary"
        [(ngModel)]="employeeData.salary"
      />
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select
        class="form-control"
        id="gender"
        name="gender"
        [(ngModel)]="employeeData.gender"
      >
        <option [ngValue]="Gender.Male">Male</option>
        <option [ngValue]="Gender.Female">Female</option>
        <option [ngValue]="Gender.Other">Other</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Employee</button>
  </form>
</div>
